<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">tu peux crée un nouveau gossip ici</a>
  </body>
  <% gossips.each do |gossip| %>
    <p>
      <%= gossip.gossip_author %><br/>
      <%= gossip.gossip_content %>
    </p>
  <% end %>


</html>